<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>{{ greeting }}</p>
      <router-outlet>
        <div class="login-registration-links">
          <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
          >
          <a routerLink="/registration" 
          routerLinkActive="active" 
          ariaCurrentWhenActive="page"
          >Registration</a
          >
        </div>
      </router-outlet>
    </div>
  </div>
</main>
